<launch>

  <!-- Load configuration file -->
  <rosparam file="$(find hera_control)/config/manip_controller.yaml" command="load"/>

  <!-- Start joint state controller -->
  <node name="joint_state_controller_spawner" pkg="controller_manager" type="controller_manager" output="screen"
    args="spawn joint_state_controller" respawn="false"/>

  <!-- Start arm controller -->
  <node name="arm_controller_spawner" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" args="spawn arm_controller gripper_controller"/>

  <!-- start robot state publisher -->
  <!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen"> -->
    <!-- <remap from="/joint_states" to="/manipulator/joint_states" /> -->
  <!-- </node> -->

  <!-- start fake calibration -->
  <node pkg="rostopic" type="rostopic" name="fake_joint_calibration"
        args="pub /calibrated std_msgs/Bool true" />

</launch>
